.App {
  /* width: 50vw; */
  margin: 3rem auto;
}

.App-logo {
  height: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 11s linear;
  }
}


h1{
  margin-left: 1.7rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.05em;

  color: #FFFFFF;
}

.ulcontainer{
  padding-left: 4rem;
}

li{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  list-style:none;
  font-size: 1.5rem;
  line-height: 1.1875;
  margin-bottom: 0.875rem;
  color: #FFFFFF;
  max-width: 35rem;
}

li::before {content: "•"; color: #61dafb;
  display: inline-block; width: 1em;
  font-size: 1.8rem;
  margin-left: -1em}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
