* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282D35;
  background-image: url(./react-icon-large.png);
  background-repeat: no-repeat;
  background-position: 100% 75%;
}
